@charset "UTF-8";
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  margin: 0;
}

h1, h2, h3, h4, p {
  font-size: unset;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: unset;
  text-align: unset;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  outline: unset;
}

* {
  font-size: 24px;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #215732;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1680px;
}

@media screen and (max-width: 1700px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 900px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
}

.all .home .container {
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding: 100px 0 0 0;
}

.all .home .container .home_top_area {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 0 70px;
  margin: 0 0 70px 0;
}

.all .home .container .home_top_area .home_logo_area {
  width: 290px;
  padding: 40px 0 0 0;
}

.all .home .container .home_top_area .home_logo_area .home_logo_img {
  width: 70%;
}

.all .home .container .home_top_area .home_banner_area {
  width: 1200px;
  height: 560px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #EFF3F0;
}

.all .home .container .home_top_area .home_banner_area .banner_parallax_drink {
  width: 900px;
  z-index: -1;
  left: 80px;
}

.all .home .container .home_bottom_area {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.all .home .container .home_bottom_area .home_text_logo_img {
  position: absolute;
  top: -50px;
  left: 350px;
  z-index: -1;
}

.all .home .container .home_bottom_area .home_title {
  font-size: 72px;
  text-align: center;
}

.all .home .container .home_bottom_area .home_subtitle {
  font-size: 36px;
  text-align: center;
}

.all .navbar {
  position: fixed;
}

.all .navbar .container {
  width: 100%;
  height: 75px;
  padding: 0 120px;
  background-color: #EFF3F0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all .navbar .container .nav_left_area {
  padding: 0 0 0 25px;
  margin: 0 auto 0 0;
}

.all .navbar .container .nav_left_area .nav_logo_area {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
}

.all .navbar .container .nav_left_area .nav_logo_area img {
  width: 100%;
}

.all .navbar .container .nav_btn_area {
  width: 1300px;
  height: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F3E4BF;
}

.all .navbar .container .nav_btn_area li {
  padding: 0 30px;
  text-align: center;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  position: relative;
  color: #215732;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.all .navbar .container .nav_btn_area li:hover {
  color: #F3E4BF;
}

.all .navbar .container .nav_btn_area li:hover::before {
  width: 55%;
}

.all .navbar .container .nav_btn_area li:hover::after {
  width: 55%;
}

.all .navbar .container .nav_btn_area li:focus::before {
  width: 55%;
}

.all .navbar .container .nav_btn_area li:focus::after {
  width: 55%;
}

.all .navbar .container .nav_btn_area li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  display: block;
  width: 3px;
  height: 30px;
  background-color: #215732;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.all .navbar .container .nav_btn_area li::before {
  position: absolute;
  bottom: 0;
  right: 0px;
  content: "";
  display: block;
  width: 3px;
  height: 30px;
  background-color: #215732;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.all .navbar .container .nav_right_area {
  display: none;
}

.all .about_us {
  background-image: url(../01-img/01-pc/02-SVG/pc-about_us_bg.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 1800px;
  padding: 125px 0 0 0;
}

.all .about_us .about_us_container1 {
  margin: 0 auto;
  display: unset;
}

.all .about_us .about_us_container1 .about_us_top_section {
  width: 1040px;
}

.all .about_us .about_us_container1 .about_us_bottom_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all .about_us .about_us_container1 .about_us_bottom_section .text_area {
  width: 480px;
  margin: 0 140px 0 290px;
  position: relative;
}

.all .about_us .about_us_container1 .about_us_bottom_section .text_area::after {
  content: "";
  display: block;
  width: 1px;
  height: 400px;
  background-color: #215732;
  position: absolute;
  top: 60px;
  right: -140px;
}

.all .about_us .about_us_container1 .about_us_bottom_section .text_area .about_us_title {
  font-size: 50px;
  margin: 0 0 45px 0;
}

.all .about_us .about_us_container1 .about_us_bottom_section .text_area .about_us_content {
  padding: 0 0 0 50px;
  margin: 0 0 20px 0;
}

.all .about_us .about_us_container1 .about_us_bottom_section .text_area .about_us_content .about_us_content_subtitle {
  min-width: 420px;
  border-bottom: 1px solid #215732;
  margin: 0 0 25px 0;
}

.all .about_us .about_us_container1 .about_us_bottom_section .img_area {
  margin: 45px 0 0 175px;
  width: 440px;
}
/*# sourceMappingURL=style-pc.css.map */