
$font-size_sm:13px;
$font-size1:15px;
$font-size2:20px;
$font-size3:24px;
$font-size4:46px;

$color1:black;
$color2:#616161;
$color3:lightgray;
$color4:white;
$color5:rgb(0,93,166);
$color6:#005da6;
$color7:gray;
$color8:rgb(242,242,242);
$color10:rgba(0,0,0,.9);
$color11:#e6e6e6;