$font_color_1:rgb(0,0,0);
$font_color_2:rgb(255,255,255);
$bg_color_1:rgb(0,0,0);
$bg_color_2:rgb(255,255,255);
$font_size_1:12px;
$font_size_2:14px;
$font_size_3:16px;
$font_size_4:20px;
$font_size_5:24px;
$font_size_6:28px;
$font_size_7:32px;
$font_size_8:48px;
$font_size_9:64px;
$font_size_10:86px;
$font_size_11:96px;
$font_size_12:128px;
$font_size_13:168px;
$font_size_14:228px;
$font_size_15:295px;
$font_size_16:395px;
